.DS_Store
node_modules/
dist/
npm-debug.log*
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
genexvis/test/unit/coverage/
genexvis/about/build_date.json
genexvis/ressources/
genexvis/dist_nwjs/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
